body{
    margin-left: 10%;
    margin-right: 10%;
    background-image: url("../background.jpg");
}
.content{
    border: 10px white solid;
    background-color: white;
}

.title{
    border: hidden;
    background-color: #A8F0F0;
    text-align: right;
}

#subheading{
    border: hidden;
    font-size: 14pt;  
}

span{
    border-bottom: 2px blue dashed;
}

.para{
    border: 4px #C2E9E9 solid;
    background-color: #E8FBFB;
    padding: 5px;
    margin: 10px 0 0;
    overflow: auto;
}

img{
    float:right;
}