body{
    margin: 0;
    padding: 0;
    background-color: #f9dab4 ;
    font-family: 'Arial';
}

/* Text styling */
.text {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.5;
}
  
.text-bold {
    font-weight: bold;
}

.text-center {
    text-align: center !important;
  }
  
.text-secondary {
    color: #6c757d;
}

h1, h2 {
    color: #FFA500;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
  

/** Header*/

li a:hover:not(.active) {
  background-color: #5c3304;
}

.active {
  background-color: #b55719;
}

.hero{
    width:100%;
    min-height: 10vh;
}

.user-pic{
    width:40px;
    height:33px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 5px;
}

nav{
    padding:0 5px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    background-color: #e4a14f;
    position:relative;
}

.logo{
    width:120px;
    height:40px;
}

nav ul{
    width:100%;
    text-align: right;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

nav ul li{
    display:inline-block;
    list-style-type: none;
    margin: 0 5px;
}

nav ul li a{
    display: block;
  color: white;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none; 
}

.sub-menu-wrap{
    position:absolute;
    top:75%;
    right:0%;
    max-height: 0px;
    overflow: hidden;
    transform: max-height 0.5s;
}

.sub-menu-wrap.open-menu{
    max-height: 400px;
    max-width: 280px;
    z-index: 99;
}

.sub-menu{
    background-color: #ffce89;
    padding: 5px;
    margin: 10px;

}
.user-info{
    display:flex;
    align-items: center;
}

.user-info h3{
    font-weight : 500;
}

.user-info img{
    width:60px;
    border-radius: 50%;
    margin-right: 15px;
}

.sub-menu-link{
    display:flex;
    align-items:center;
    text-decoration: none;
    color: black;
    margin: 8px 0;
    width:300px;
}

.sub-menu-link p{
    width:100%;
}

.sub-menu-link img{
    width:20px;
    height:20px;
    background: #ffffff;
    border-radius:50%;
    padding: 5px;
    margin-right:10px;
}

.sub-menu-link span{
    font-size: 20px;
    transition: transform 0.5s;
}

.sub-menu-link:hover span{
    transform: translateX(5px);
}

.sub-menu-link:hover p{
    font-weight: 600;
}

/** Homepage*/

.search{
    float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.search input[type=text] {
  padding: 7px;
  border: none;
  border-radius: 25px;
  font-size: 15px;
  width:200px;
}

.product-card-wrapper {
  flex-basis: 33.333333%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 20px;
  margin-bottom: 30px;
  text-align: center;
  font-family: arial;
  background-color: #ffffff;
}

.product-card{
    padding:5px;
}

.product-card img{
    width:150px;
    height:100px;
}

.location {
  color: grey;
  font-size: 15px;
}

.product-card-wrapper #take_button{ 
    margin-bottom: 0;
}

.product-card-wrapper button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card-wrapper button:hover {
  opacity: 0.7;
}

#product-card-donator{
    color: gray;
    text-transform: capitalize;
    text-align: left;
    margin: 0;

}
.donator-info{
    display:flex;
    align-items: center;
    justify-content: center;
}

.donator-info #product-card-donator-img{
    height:30px;
    width:30px;
    margin:10px;
}

.product-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#title {
    text-align: center;
    color: #000;
    margin-top: 0;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination a {
    display: inline-block;
    padding: 10px;
    border: 1px solid #b55719;
    margin: 10px;
    text-decoration: none;
    color:#000;
  }
  
  .pagination a.active {
    background-color: #b55719;
  }

  .product-card-wrapper .msg-btn {
    background: #49D75C;
    border: 0px solid #49D75C;
    border-radius: 0;
    font-size: 15px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    transition: all .25s ease;
    width: 100%;
    height: 45px;
    position: relative;
    overflow: hidden;
  }
  
  .product-card-wrapper .msg-btn:not(.loading):hover {
    box-shadow: 0px 10px 25px 0px rgba(73, 215, 92,.4);
  }
  
  .product-card-wrapper .msg-btn:not(.loading):hover i {
    transform: translate(10px);
  }
  
  .product-card-wrapper .msg-btn i {
    font-size: 1rem;
    position: absolute;
    left: 15px;
    pointer-events: none;
    z-index: 10;
    background: inherit;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all .25s ease;
  }
  
  .product-card-wrapper .msg-btn .msg-text {
    width: 100%;
    padding:10px;
    display: block;
    position: relative;
    pointer-events: none;
    transition: all .25s ease;
    text-align:center;
  }
  
  .loading-animate {
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 100;
    border-radius: 50%;
    top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    opacity: 0;
    transition: all .25s ease;
  }
  
  .loading-animate:after {
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-left: 3px solid #fff;
    animation: loading infinite .8s ease .05s;
    position: absolute;
  }
  
  .loading-animate:before {
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-left: 3px solid #fff;
    animation: loading infinite .8s linear;
    position: absolute;
    opacity: .6;
  }
  
  .msg-btn.loading {
    width: 100%;
  }
  
  .msg-btn.loading i {
    padding-bottom: 4px;
    padding-left: 3px;
    transform: translate(115px) rotate(-25deg);
  }
  
  .msg-btn.loading .msg-text {
    transform: translate(-250px);
  }
  
  .msg-btn.loading .loading-animate {
    opacity: 1;
  }
  
  @keyframes loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

/** My basket page*/

#add-product-form {
    display:none;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    width: 500px;
    margin: 10px auto;
}

#add-product-form.show {
    display: block;
}

#add-product-form input[type="text"], textarea {
    display: block;
    width: 96%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    background-color: #eee;
}

#add-product-form input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

#add-product-form input[type="submit"]:hover {
    background-color: #3e8e41;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.expiry-date{
    font-style: italic;
}

.product-card_buttons{
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}

.add-button {
    display: block;
    margin: auto;
    padding: 12px 24px;
    border-radius: 4px;
    background-color: #4CAF50;
    color: #fff;
    font-size: 16px;
    border: none;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.add-button:hover {
    background-color: #3e8e41;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

/** Shopping cart page*/

.shopping{
    height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cart-container{
	width: 55%;
	height: 90%;
	background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 10px 20px #e76704d8;
}

.header{
	margin: auto;
	width: 70%;
	height: 15%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.heading{
	font-size: 30px;
	font-family: 'Fira Mono';
	font-weight: 700;
	color: #FFA500
}

.action{
	font-size: 14px;
	font-family: 'Fira Mono';
	font-weight: 600;
	color: #E44C4C;
	cursor: pointer;
	border-bottom: 1px solid #E44C4C;
}

.cart-items{
	margin: auto;
	width: 90%;
	height: 30%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.image-box{
	width: 15%;
	text-align: center;
}

.image-box img{
    height: 100px;
    width: 70px;

}

.about{
	height: 100%;
	width: 50%;
}

.about .title{
	padding-top: 10px;
	line-height: 10px;
	font-size: 25px;
	font-family: 'Open Sans';
	font-weight: 800;
	color: black;
    text-align: left;
}

.about .subtitle{
	line-height: 10px;
	font-size: 18px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #909090;
}

.btn{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	font-family: 'Open Sans';
	font-weight: 900;
	color: #202020;
	cursor: pointer;
}

.notify{
	height: 100%;
	text-align: right;
    margin-top: 40px;
}

.send{
	padding-top: 5px;
	font-size: 14px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #1687d9;
	cursor: pointer;
}

.remove{
	padding-top: 5px;
	font-size: 14px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #E44C4C;
	cursor: pointer;
}

hr{
	width: 100%;
}

.checkout{
	float: right;
	margin-right: 5%;
	width: 30%;
}

.total{
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.Subtotal{
	font-size: 30px;
	font-family: 'Open Sans';
	font-weight: 700;
	color: black;
}

.total-amount{
	font-size: 30px;
	font-family: 'Open Sans';
	font-weight: 900;
	color: black;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: none;
}

#popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 350px;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

#popup h2 {
  margin-top: 0;
}

#popup .buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#popup button {
  margin: 0 10px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

#popup button.yes {
  background-color: green;
  color: white;
}

#popup button.no {
  background-color: red;
  color: white;
}


/** Profile page*/

.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
}

.main{
    padding: 15px;
}

.sidebar{
    background-color: #333;
    color:white;
    height:100%;
}

.sidebar a{
    margin-left:10px;
    display:block;
    color:white;
    padding-bottom: 20px;
    font-size: 23px;
    text-decoration: none;
}

.profile-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
}

.sidebar-container{
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.sidebar-links{
    margin-top: 5rem;
}

.profile-card {
  position: relative;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}

.profile-card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}

.content {
    padding: 20px;
    background-color: whitesmoke;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
  }

.stand-margin {
  margin: 1rem;
}

.caption {
  flex: 0 0 25%;
  max-width: 25%;
}

.caption_user {
  flex: 0 0 75%;
  max-width: 75%;
}

.profile-info-container{
    width:65%;
}


/** Edit Profile page*/
#edit-profile-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    width: 500px;
    margin: 10px auto;
}


#edit-profile-form input[type="text"], input[type="email"],input[type="tel"], textarea, input[type="password"] {
    display: block;
    width: 96%;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    background-color: #eee;
}


#edit-profile-form textarea {
    resize: vertical;
    min-height: 100px;
}

#edit-profile-form input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

#edit-profile-form input[type="submit"]:hover {
    background-color: #3e8e41;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.change-password-section{
    margin-top:25px;
    margin-bottom:25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.password-button{
    display: block;
    margin: auto;
    padding: 12px 24px;
    border-radius: 4px;
    background-color: black;
    color: #fff;
    font-size: 16px;
    border: none;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.hidden {
    display: none;
}

#change-psw-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(26,21,18,.8);
    color:white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  }
  
  #change-psw-form h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  #change-psw-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  #change-psw-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  #change-psw-form button[type="submit"] {
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  }
  
  #change-psw-form button[type="submit"]:hover {
    background-color: #3e8e41;
  }

  .form-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form-container {
    position: relative;
    width: 400px;
    max-width: 90%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
  }
  .form-container h2 {
    margin-top: 0;
  }
  .close-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: #ddd;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

/** Privacy page*/

#privacy_pg {
    background-color: #eee;
    font-family: Arial, sans-serif;
}
  
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    width: 800px;
    margin: 15px auto;
 }
  
.rules {
      margin-bottom: 40px;
}
  
.accept label {
      display: block;
      margin-bottom: 10px;
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #ffa500;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

.submit-button {
    background-color: #FFA500;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    margin-top: 20px;
}
  
.submit-button:hover {
    background-color: #ffbf80;
}
  
.submit-button:focus {
    outline: none;
}
  
.submit-button:active {
    background-color: #4CAF50;
}
  
.submit-button:active:focus {
    outline: none;
}

.submit-btn {
  align-items: center;
  border-radius: 26px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
    0 4px 4px rgba(0, 0, 0, 0.11), 0 6px 8px rgba(0, 0, 0, 0.11),
    0 8px 16px rgba(0, 0, 0, 0.11);
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: relative;
  height: 30px;
  width: 120px;
  margin-top: 20px;
}

.bottom {
  border-radius: 26px;
  background: #FFA500;
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.cover {
  background-color: #FFA500;
  border-radius: 26px;
  height: 100%;
  position: absolute;
  width: 100%;
}
.cut {
  clip-path: polygon(
    100% 0%,
    99.73714% -0.13875%,
    98.96737% -0.53964%,
    97.71887% -1.17957%,
    96.01985% -2.03547%,
    93.89849% -3.08428%,
    91.38299% -4.30291%,
    88.50154% -5.66829%,
    85.28234% -7.15734%,
    81.75358% -8.74699%,
    77.94346% -10.41416%,
    73.88016% -12.13578%,
    69.59189% -13.88876%,
    65.10683% -15.65005%,
    60.45319% -17.39655%,
    55.65915% -19.10519%,
    50.75291% -20.75291%,
    45.76266% -22.31661%,
    40.7166% -23.77324%,
    35.64292% -25.09971%,
    30.56981% -26.27294%,
    25.52548% -27.26986%,
    20.5381% -28.0674%,
    15.63589% -28.64248%,
    10.84702% -28.97202%,
    6.1997% -29.03295%,
    1.72212% -28.8022%,
    -2.55753% -28.25668%,
    -6.61106% -27.37332%,
    -10.41026% -26.12905%,
    -13.92694% -24.50079%,
    -17.13292% -22.46546%,
    -20% -20%,
    -22.46546% -17.13292%,
    -24.50079% -13.92694%,
    -26.12905% -10.41026%,
    -27.37332% -6.61106%,
    -28.25668% -2.55753%,
    -28.8022% 1.72212%,
    -29.03295% 6.1997%,
    -28.97202% 10.84702%,
    -28.64248% 15.63589%,
    -28.0674% 20.5381%,
    -27.26986% 25.52548%,
    -26.27294% 30.56981%,
    -25.09971% 35.64292%,
    -23.77324% 40.7166%,
    -22.31661% 45.76266%,
    -20.75291% 50.75291%,
    -19.10519% 55.65915%,
    -17.39655% 60.45319%,
    -15.65005% 65.10683%,
    -13.88876% 69.59189%,
    -12.13578% 73.88016%,
    -10.41416% 77.94346%,
    -8.74699% 81.75358%,
    -7.15734% 85.28234%,
    -5.66829% 88.50154%,
    -4.30291% 91.38299%,
    -3.08428% 93.89849%,
    -2.03547% 96.01985%,
    -1.17957% 97.71887%,
    -0.53964% 98.96737%,
    -0.13875% 99.73714%,
    0% 100%,
    100% 100%
  );
  transition: clip-path 500ms;
}
.submit-btn:hover .cut {
  clip-path: polygon(
    100% 0%,
    100.00018% 0.14326%,
    99.99754% 0.56399%,
    99.98732% 1.24864%,
    99.96476% 2.18368%,
    99.92511% 3.35553%,
    99.8636% 4.75066%,
    99.77547% 6.35551%,
    99.65597% 8.15653%,
    99.50033% 10.14017%,
    99.3038% 12.29288%,
    99.06161% 14.60111%,
    98.76901% 17.0513%,
    98.42123% 19.62992%,
    98.01352% 22.3234%,
    97.54112% 25.11819%,
    96.99926% 28.00074%,
    96.38318% 30.95751%,
    95.68814% 33.97494%,
    94.90936% 37.03949%,
    94.0421% 40.13759%,
    93.08158% 43.2557%,
    92.02305% 46.38027%,
    90.86174% 49.49775%,
    89.59291% 52.59459%,
    88.21179% 55.65723%,
    86.71362% 58.67212%,
    85.09364% 61.62572%,
    83.34709% 64.50448%,
    81.46921% 67.29483%,
    79.45524% 69.98324%,
    77.30042% 72.55614%,
    75% 75%,
    72.55614% 77.30042%,
    69.98324% 79.45524%,
    67.29483% 81.46921%,
    64.50448% 83.34709%,
    61.62572% 85.09364%,
    58.67212% 86.71362%,
    55.65723% 88.21179%,
    52.59459% 89.59291%,
    49.49775% 90.86174%,
    46.38027% 92.02305%,
    43.2557% 93.08158%,
    40.13759% 94.0421%,
    37.03949% 94.90936%,
    33.97494% 95.68814%,
    30.95751% 96.38318%,
    28.00074% 96.99926%,
    25.11819% 97.54112%,
    22.3234% 98.01352%,
    19.62992% 98.42123%,
    17.0513% 98.76901%,
    14.60111% 99.06161%,
    12.29288% 99.3038%,
    10.14017% 99.50033%,
    8.15653% 99.65597%,
    6.35551% 99.77547%,
    4.75066% 99.8636%,
    3.35553% 99.92511%,
    2.18368% 99.96476%,
    1.24864% 99.98732%,
    0.56399% 99.99754%,
    0.14326% 100.00018%,
    0% 100%,
    100% 100%
  );
}
.submit-btn:active .cut {
  clip-path: polygon(
    127.29527% 25.2734%,
    127.29545% 25.41665%,
    127.2928% 25.83738%,
    127.28259% 26.52204%,
    127.26003% 27.45707%,
    127.22038% 28.62893%,
    127.15887% 30.02405%,
    127.07074% 31.6289%,
    126.95124% 33.42992%,
    126.7956% 35.41357%,
    126.59907% 37.56628%,
    126.35688% 39.8745%,
    126.06428% 42.3247%,
    125.7165% 44.90331%,
    125.30879% 47.59679%,
    124.83638% 50.39158%,
    124.29452% 53.27414%,
    123.67845% 56.23091%,
    122.98341% 59.24834%,
    122.20463% 62.31288%,
    121.33736% 65.41099%,
    120.37685% 68.5291%,
    119.31831% 71.65367%,
    118.15701% 74.77115%,
    116.88818% 77.86798%,
    115.50706% 80.93062%,
    114.00889% 83.94552%,
    112.3889% 86.89912%,
    110.64235% 89.77787%,
    108.76447% 92.56823%,
    106.75051% 95.25663%,
    104.59569% 97.82954%,
    102.29527% 100.2734%,
    99.85141% 102.57382%,
    97.2785% 104.72864%,
    94.5901% 106.7426%,
    91.79974% 108.62048%,
    88.92099% 110.36703%,
    85.96739% 111.98702%,
    82.9525% 113.48519%,
    79.88985% 114.86631%,
    76.79302% 116.13514%,
    73.67554% 117.29644%,
    70.55097% 118.35497%,
    67.43286% 119.31549%,
    64.33476% 120.18276%,
    61.27021% 120.96154%,
    58.25278% 121.65658%,
    55.29601% 122.27265%,
    52.41345% 122.81451%,
    49.61866% 123.28692%,
    46.92518% 123.69463%,
    44.34657% 124.0424%,
    41.89638% 124.33501%,
    39.58815% 124.5772%,
    37.43544% 124.77373%,
    35.4518% 124.92937%,
    33.65078% 125.04887%,
    32.04593% 125.137%,
    30.6508% 125.19851%,
    29.47894% 125.23816%,
    28.54391% 125.26071%,
    27.85926% 125.27093%,
    27.43852% 125.27358%,
    27.29527% 125.2734%,
    127.29527% 125.2734%
  );
}
.dot {
  position: absolute;
  border-radius: 50%;
  background-color: #4CAF50;
}
.submit-container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
}
.submit-text {
  color: white;
  font-size: 16px;
  position: absolute;
}

@media (max-width: 768px){
    h1, h2 {
        font-size: 12px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .hero {
    min-height: 3vh!important;
    }

    .location {
    font-size: 10px;
    }

    p{
        font-size:8px!important;
    }

    #product-card-donator {
         font-size:10px;
    }

    .cart-container {
    width: 80%;
    }









}
